@media print {
    @page {
        size: auto;
        margin: 1cm;
    }

    body {
        display: table;
        table-layout: fixed;
        margin: 0;
        padding: 0;
        height: auto;
        font-size: 12px !important;
        background: #FFF;
        overflow:visible;
    }
    body.no-print {
        display:none !important;
    }

    @for $i from 1 through 12 {
        .col-print-#{$i} {
            width: #{percentage(round($i*8.33)/100)};
            float: left;
        }
    }
    .row.menu2 {
        padding-top: 0 !important;
        h3 {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 28px !important;
            line-height: 30px !important;
        }
        .item {
            margin-bottom: 5px !important;
            h4 {
                font-size: 16px !important;
            }
            .price span {
                font-size: 20px !important;
                font-weight: 300 !important;
            }
            .detail-image {
                min-height: 50px !important;
                padding-left: 48px !important;
            }
            img.product {
                width: 40px !important;
                height: 40px !important;
            }
            .note {
                min-width: 17px !important;
                line-height: 15px !important;
            }
            .badge {
                font-size: 10px !important;
            }
        }
    }
}