input.input-changed-1,
textarea.input-changed-1 {
  background-color: #F3DDB3;
}
input.input-changed-2,
textarea.input-changed-2 {
  background-color: #CCF3B3;
}
input.input-changed-3,
textarea.input-changed-3 {
  background-color: #E21D1D;
  color: #FFF;
}
