<main ng-controller="membersFormController" ng-init="loadMembersForm()" class="form mx-lg-5">
  <!--First column-->
  <div class="header">
      <h2>
        <span translate="TIT_MEMBER_INFO_{{formData.type}}"></span>
      </h2>
  </div>

  <div ng-hide="loadForm" translate="LOADING">Loading...</div>
  <form id="frmMembers" name="frmMembers" class="needs-validation" ng-submit="submitForm()" novalidate autocomplete="off" ng-show="loadForm">
    <div class="card p-3">
        <div class="card-body pb-0">

          <div class="row"  ng-hide="smallVersion">
            <div class="col-lg-6 col-md-6">
              <div class="row">
                <div class="form-check col-md-4">
                  <input type="radio" class="form-check-input" id="chkType1" name="chkType1" ng-value="1" ng-model="formData.type" ng-click="isEditingForm()">
                  <label class="form-check-label" for="chkType1" translate="VAL_RESTAURANT"></label>
                </div>
                <div class="form-check col-md-4">
                  <input type="radio" class="form-check-input" id="chkType2" name="chkType2" ng-value="2" ng-model="formData.type" ng-click="isEditingForm()">
                  <label class="form-check-label" for="chkType2" translate="VAL_HOTEL"></label>
                </div>
              </div>
            </div>
          </div> 

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-left mb-2 mt-4">
              <h5 translate="TIT_CODE_RESTAURANT">Código único</h5>
              <hr class="mt-1">
    
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12">
                  <label for="field-code"><span translate="LBL_CODE">Código</span> *</label>
                  <input type="text" name="field-code" id="field-code" class="form-control secondary-color"
                    ng-model="formData.codeMenu" maxlength="8" ng-change="isEditingForm()"
                    style="width: 140px;color:#fff;font-family: monospace;font-size: 2rem;">
                </div>
              </div>
    
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7 text-left mb-2 mt-4">
              <h5 translate="TIT_BASIC_DATA">Basic Data</h5>
              <hr class="mt-1">
    
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">                 
                  <ng-file label="{{ 'LBL_AVATAR_IMAGE_'+formData.type | translate }}" value="formData.avatar" value-return="avatarNew" type="profile"
                    link="formData.avatar" is-change="isEditingForm()"></ng-file>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                  <div class="row">
                    <div class="col-12 col-md-12">
                      <label for="field-company"><span translate="LBL_COMPANY_{{formData.type}}">Company</span> *</label>
                      <input type="text" name="field-company" id="field-company" class="form-control"
                        ng-model="formData.company" maxlength="100" ng-change="isEditingForm()" required>
                    </div>
                  </div>
        
                  <div class="row">
                    <div class="col-12 col-md-12">
                      <div class="form-row">
                        <div class="col">
                          <label for="txtFirstName" ng-class="{'active':formData.firstName}"><span translate="LBL_FIRST_NAME">First Name</span> *</label>
                          <input type="text" name="txtFirstName" id="txtFirstName" class="form-control"
                            ng-model="formData.firstName" maxlength="100" ng-change="isEditingForm()" required>
                        </div>
                        <div class="col">
                          <label for="txtLastName" ng-class="{'active':formData.lastName}"><span translate="LBL_LAST_NAME">Last Name</span> *</label>
                          <input type="text" name="txtLastName" id="txtLastName" class="form-control"
                            ng-model="formData.lastName" maxlength="100"  ng-change="isEditingForm()" required>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="row">
                    <div class="col-12 col-md-12">
                      <div class="form-row">
                        <div class="col">
                          <label for="txtEmail" translate="LBL_EMAIL_USER">Email</label>
                          <input type="email" class="form-control" id="txtEmail" name="txtEmail" ng-change="isEditingForm()"
                                ng-model="formData.email">
                        </div>
                        <div class="col" ng-show="paramAction=='new'">
                          <label for="field-password" translate="LBL_PASS">Password</label>
                          <input type="password" id="field-password" class="form-control" ng-change="isEditingForm()"
                                ng-model="formData.password" maxlength="20" autocomplete="new-password">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row"  ng-hide="smallVersion">
                    <div class="col-lg-12 col-md-12">
                      <label translate="LBL_STATUS">Estado</label>
                      <div class="row">
                        <div class="form-check col-md-4">
                          <input type="radio" class="form-check-input" id="chkMode1" name="chkMode1" ng-value="1" ng-model="formData.status" ng-click="isEditingForm()">
                          <label class="form-check-label" for="chkMode1" translate="VAL_PENDING">Pendiente</label>
                        </div>
                        <div class="form-check col-md-4">
                          <input type="radio" class="form-check-input" id="chkMode2" name="chkMode2" ng-value="2" ng-model="formData.status" ng-click="isEditingForm()">
                          <label class="form-check-label" for="chkMode2" translate="VAL_ACTIVE">Activo</label>
                        </div>
                        <div class="form-check col-md-4">
                          <input type="radio" class="form-check-input" id="chkMode3" name="chkMode3" ng-value="3" ng-model="formData.status" ng-click="isEditingForm()">
                          <label class="form-check-label" for="chkMode3" translate="VAL_SUSPEND">Suspendido</label>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
    
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 text-left mb-2 mt-4">
              <h5 translate="TIT_ADVANCE_DATA">Advance Data</h5>
                  <hr class="mt-1">

                  <div class="row">
                    <div class="col-12 col-md-12">
                      <label for="cmbCountry"><span translate="LBL_COUNTRY">Country</span> *</label>
                      <select id="cmbCountry" class="browser-default custom-select"
                        ng-model="formData.couId" ng-change="selectCountry(true)" 
                        ng-options="item.id as item.label for item in lstCountry" required>
                      </select>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-12 col-md-12">
                      <div class="form-row">
                        <div class="col-6">
                          <label for="cmbState"><span translate="LBL_STATE">State</span> *</label>
                          <select id="cmbState" class="browser-default custom-select"
                            ng-model="formData.staId" ng-change="isEditingForm()" ng-options="item.id as item.label for item in lstState" required>
                          </select>
                        </div>
                        <div class="col-6">
                          <label for="txtName"><span translate="LBL_CITY">City</span> *</label>
                          <input type="text" name="txtCity" id="txtCity" class="form-control" ng-model="formData.city" maxlength="100" ng-change="isEditingForm()" required>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-md-12">
                      <div class="form-row">
                        <div class="col-8">
                          <label for="txtAddress"><span translate="LBL_ADDRESS">Address</span> *</label>
                          <input type="text" name="txtAddress" id="txtAddress" class="form-control" ng-model="formData.address" maxlength="255" ng-change="isEditingForm()" required>
                        </div>
                        <div class="col-4">
                          <label for="txtZip"><span translate="LBL_ZIP">ZIP</span> *</label>
                          <input type="text" name="txtZip" id="txtZip" class="form-control" ng-model="formData.zip" maxlength="6" ng-change="isEditingForm()" required>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-md-12">
                      <div class="form-row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                          <label for="txtPhone"><span translate="LBL_PHONE">Phone</span> *</label>
                          <input type="text" name="txtPhone" id="txtPhone" class="form-control" ng-model="formData.phone" maxlength="32" ng-change="isEditingForm()" required>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                          <label for="txtWebSite" translate="LBL_WEBSITE">Web Site</label>
                          <input type="text" name="txtWebSite" id="txtWebSite" class="form-control" ng-model="formData.webSite" maxlength="255" ng-change="isEditingForm()">
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>

          <small class="text-muted" translate="MSG_FIELDS_MANDATORY">Fields marked with * are mandatory</small>

        </div>

        <!--Footer-->
        <div class="modal-footer mx-3 p-0 pt-3" ng-hide="paramAction=='view'">
          <button type="submit" class="btn btn-success ml-0" ng-disabled="!editForm" translate="BTN_SAVE_MEMBER">Save Member</button>
          <div class="options text-center text-md-right mt-1 ml-auto">
            <p class="font-small grey-text d-flex justify-content-end"><a href="#" class="blue-text" ng-click="clickCancelForm()" translate="BTN_CANCEL">Cancel</a></p>
          </div>
        </div>
    </div>
  </form>

</main>
