<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br/>
      <div class="alert alert-danger">
        <i class="fa fa-times-circle"></i>
        <span translate="MSG_ERROR_LOGIN">Oh lo siento! Hubo un error al intentar autentificarse. Por favor, intente nuevamente mas tarde.</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>{{ 'LNK_WISH_SIGNIN1' | translate }} <a href="/login">{{ 'LNK_WISH_SIGNIN2' | translate }}</a></p>
    </div>
  </div>
</div>
