<div class="modal-header">
    <h4 class="modal-title">Confirmar pedido</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <section ng-show="modalOptions.formData.type==3">
      <div><b>Nombre:</b> <span>{{modalOptions.dataClient.name}}</span></div>
      <div><b>Dirección:</b> <span>{{modalOptions.dataClient.address}} CP: {{modalOptions.dataClient.zip}}</span></div>
      <p><b>Teléfono:</b>  <span>{{modalOptions.dataClient.phone}}</span>&nbsp;<a href="#" ng-click="modalOptions.changeData(modalOptions)">modificar datos</a></p>
    </section>
    <div class="form-group" ng-show="modalOptions.formData.type==1">
        <label for="txtTable">Nro. Mesa</label>
        <input  type="number" class="form-control" id="txtTable" name="txtTable" maxlength="3"
            ng-model="modalOptions.formData.table" style="max-width: 80px;"/>
    </div>
    <div class="form-group" ng-show="modalOptions.formData.type==2">
        <label for="txtRoom">Nro. Habitación</label>
        <input  type="number" class="form-control" id="txtRoom" name="txtRoom" maxlength="3"
            ng-model="modalOptions.formData.room" style="max-width: 80px;"/>
    </div>
    <div class="form-group" ng-show="modalOptions.formData.type==4">
        <div><b>Nombre:</b> <span>{{modalOptions.dataClient.name}}</span></div>
    </div>
    <div class="form-group">
        <label for="txtComment">Agregar comentario <small>(opcional)</small></label>
        <textarea class="form-control" id="txtComment" name="txtComment" maxlength="200" rows="3"
            ng-model="modalOptions.formData.comment" style="resize: none;"></textarea>
        <small class="text-muted">{{modalOptions.infoLength(modalOptions.formData.comment)}}</small>
    </div>
    <div class="text-danger" ng-show="modalOptions.formData.type==3"><i class="fas fa-exclamation-triangle"></i> Recuerde que el envío solo se hará si está dentro de la zona de cobertura del restaurante. En caso contrario puede ser cancelado.</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="modalOptions.close();">Cancelar</button>
    <button type="button" class="btn btn-primary" data-ng-click="modalOptions.ok();">Confirmar</button>
  </div>
