<div class="modal-header">
    <h4 class="modal-title">Confirm order</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <section ng-show="modalOptions.formData.type==3">
      <div><b>Name:</b> <span>{{modalOptions.dataClient.name}}</span></div>
      <div><b>Address:</b> <span>{{modalOptions.dataClient.address}} CP: {{modalOptions.dataClient.zip}}</span></div>
      <p><b>Phone:</b>  <span>{{modalOptions.dataClient.phone}}</span>&nbsp;<a href="#" ng-click="modalOptions.changeData(modalOptions)">modificar datos</a></p>
    </section>
    <div class="form-group" ng-show="modalOptions.formData.type==1">
        <label for="txtTable">Table Nbr.</label>
        <input  type="number" class="form-control" id="txtTable" name="txtTable" maxlength="3"
            ng-model="modalOptions.formData.table" style="max-width: 80px;"/>
    </div>
    <div class="form-group" ng-show="modalOptions.formData.type==2">
        <label for="txtRoom">Room Nbr.</label>
        <input  type="number" class="form-control" id="txtRoom" name="txtRoom" maxlength="3"
            ng-model="modalOptions.formData.room" style="max-width: 80px;"/>
    </div>
    <div class="form-group" ng-show="modalOptions.formData.type==4">
        <div><b>Name:</b> <span>{{modalOptions.dataClient.name}}</span></div>
    </div>
    <div class="form-group">
        <label for="txtComment"><span>Add comment</span> <small>(<span>optional</span>)</small></label>
        <textarea class="form-control" id="txtComment" name="txtComment" maxlength="200" rows="3"
            ng-model="modalOptions.formData.comment" style="resize: none;"></textarea>
        <small class="text-muted">{{modalOptions.infoLength(modalOptions.formData.comment)}}</small>
    </div>
    <div class="text-danger" ng-show="modalOptions.formData.type==3"><i class="fas fa-exclamation-triangle"></i> <span>Remember that the shipment will only be made if it is within the coverage area of the restaurant. Otherwise it can be cancelled.</span></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="modalOptions.close();">Cancel</button>
    <button type="button" class="btn btn-primary" data-ng-click="modalOptions.ok();">Confirm</button>
  </div>
