<div class="modal-header">
    <h4 class="modal-title">
      <span ng-hide="modalOptions.formData.isLogin">Autentificarse</span>
      <span ng-show="modalOptions.formData.isLogin">Cambiar Datos</span>
    </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p ng-hide="modalOptions.formData.isLogin">Complete el siguiente formulario para continuar con su pedido.</p>
    <div class="form-group" ng-hide="modalOptions.formData.isLogin">
      <label for="txtEmail">Correo Electrónico</label>
      <input type="email" class="form-control" id="txtEmail" placeholder="cuenta@dominio.com" ng-model="modalOptions.formData.email" maxlength="45">
    </div>
    <a href="#" ng-click="modalOptions.formData.notUser=true;" ng-hide="modalOptions.formData.notUser || modalOptions.formData.isLogin">No me encuentro registrado</a>
    <section ng-show="modalOptions.formData.notUser">
      <div class="form-row">
        <div class="col-8">
          <label for="txtName">Nombre Completo</label>
          <input type="text" class="form-control" id="txtName" ng-model="modalOptions.formData.name" maxlength="100">
        </div>
        <div class="col-4">
          <label for="txtPhone">Teléfono</label>
          <input type="text" class="form-control" id="txtPhone" ng-model="modalOptions.formData.phone" maxlength="45">
        </div>
      </div>
      <div class="form-row" ng-show="modalOptions.formData.type==1">
        <div class="col-10">
          <label for="txtAddress">Dirección completa</label>
          <input type="text" class="form-control" id="txtAddress" ng-model="modalOptions.formData.address" maxlength="100">
          <small>Indique calle, numeración, piso y dpto. si corresponde.</small>
        </div>
        <div class="col-2">
          <label for="txtCP">CP</label>
          <input type="text" class="form-control" id="txtCP" ng-model="modalOptions.formData.zip" maxlength="5">
        </div>
      </div>
    </section>
    <a href="#" ng-click="modalOptions.closeSession(modalOptions)" ng-show="modalOptions.formData.isLogin">Cerrar sesión</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="modalOptions.close();">Cancelar</button>
    <button type="button" class="btn btn-primary" data-ng-click="modalOptions.ok();">
      <span ng-hide="modalOptions.formData.isLogin">Ingresar</span>
      <span ng-show="modalOptions.formData.isLogin">Cambiar</span>
    </button>
  </div>