<div class="ml-2 mr-1">
  <a href="#" ng-click="changeLanguage('es')" class="nav-link d-inline-block pl-0" title="{{ 'BUTTON_LANG_ES' | translate}}" ng-hide="lang == 'es'">
      <img src="/framework/img/flags/es.png"/>
  </a>
  <a href="#" ng-click="changeLanguage('en')" class="nav-link d-inline-block pl-0" title="{{ 'BUTTON_LANG_EN' | translate}}" ng-hide="lang == 'en'">
     <img src="/framework/img/flags/en.png"/>
  </a>
  <a href="#" ng-click="changeLanguage('pt')" class="nav-link d-inline-block pl-0" title="{{ 'BUTTON_LANG_PT' | translate}}" ng-hide="lang == 'pt'">
     <img src="/framework/img/flags/br.png"/>
  </a>
</div>
